body{
    background-color: whitesmoke;
}

.nav-link.mx-3:hover{
    background-color: #040462;
    color: lightgreen;
}

.carousel-inner img:hover{
    width: 80%;
    background-color: rebeccapurple;
}

.card-img-top.img-fluid{
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

#welcome-1{
    background-color: rgb(242, 171, 38);
    color: rgb(10, 10, 110);
    padding:20px;
    position:absolute;
    top: 30%;
    left: 200px;
    font-weight: 800px;
}

#welcome-2{
    background-color: rgb(242, 171, 38);
    color: white;
    padding:20px;
    position:absolute;
    top: 45%;
    left: 200px;
    font-weight: 800px;
}

#bungkus-button{
    position: absolute;
    top: 60%;
    left:200px;
    background-color: #040462;
    color: lightgreen;
    padding: 10px;
    border-radius: 20px;
}
#bungkus-button:hover{
  cursor: pointer;
}

#banner-title{
    color: #040462;
}

.card-deck.p-1 img:hover{
    background-color: rgb(198, 198, 4);
    opacity: 0.8;
}

.about-us-photo.img-fluid:hover{
    background-color: rgb(198, 198, 4);
    opacity: 0.8;
    border-radius: 50%;
}


.kartu-porto.card-body:hover{
    background-color: lightgreen;
    color: #040462;
    cursor:pointer
}